<div data-sticky-container>
    <div class="title-bar sticky" data-sticky data-anchor="foo"  data-margin-top="0">
        <div class="title-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="/">PS</a></li>
                <li><a href="/entries">Portfolio</a></li>
                <li><a href="/page/about">About me</a></li>
                <li><a href="/page/documentation">Documentation</a></li>
            </ul>
        </div>

        <div class="title-bar-right">
            searchbar
        </div>
    </div>
</div>